@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    color: #111;
    font-weight: 300;
}

section {
    padding: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('./img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(54, 54, 54, 0.925);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 3.2em;
    color: #fff;
}

.banner .content h2 span {
    color: #e01818;
}

.banner .content p {
    font-size: 1em;
    color: #fff;
}

/* Navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background-color: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo {
    color: #111;
}

header.sticky .navigation li a {
    color: #111;
}

header .logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}

header .logo span {
    color: #e01818;
}

header .navigation {
    display: flex;
    position: relative;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header .navigation li a:hover {
    color: #e01818;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col150 {
    position: relative;
    width: 48%;
}

.subtitle {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.subtitle span {
    color: #e01818;
    font-weight: 700;
    font-size: 1.5em;
}

.col150 .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
}

.col150 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

.expert .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.expert .content .box {
    width: 250px;
    margin: 15px;
}

.expert .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.expert .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expert .content .box .text {
    padding: 15px 0 5px;
}

.expert .content .box .text h3 {
    font-weight: 400;
}

.depoimentos {
    background: url('./img/bg-depo.jpg');
    background-size: cover;
    background-color: rgba(43, 40, 40, 0.747);
    background-blend-mode: multiply;
}

.white .subtitle, .white p{
    color: #fff;
}

.depoimentos .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px
}

.depoimentos .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.depoimentos .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.depoimentos .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimentos .content .box .text {
    text-align: center;
}

.depoimentos .content .box .text p {
    color: #666;
    font-weight: 300;
}

.depoimentos .content .box .text h3 {
    margin-top: 15px;
    color: #e01818;
}

.contato {
    background-image: url('./img/bg-contato.jpg');
    background-size: cover;
}

.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="button"] {
    font-size: 1em;
    color: #fff;
    background: #e01818;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.copyrightText {
    padding: 25px;
    background: #1f1f1f;
}

.copyrightText p {
    color: #fff;
    text-align: center;
}

@media (max-width: 991px) {
    header, 
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background-image: url('./img/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background-image: url('./img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }

    .row {
        flex-direction: column;
    }

    .row .col150 {
        position: relative;
        width: 100%;
    }

    .row .col150 .imgBx {
        height: 300px;
        margin-top: 20px;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 10px;
    }

    .menu .content .box .imgBx {
        height: 260px;
    }

    .titulo {
        text-align: center;
    }

    .subtitle {
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .depoimentos .content .box {
        margin: 10px;
        padding: 20px;
    }

    .contactForm {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .banner .content h2 {
        font-size: 2.2em;
    }
}